.layout-sidebar {
    position: fixed;
    width: 250px;
    height: calc(100vh - 4rem);
    z-index: 999;
    // overflow-y: auto;
    user-select: none;
    top: 5rem;
    left: 0rem;
    transition: transform $transitionDuration, left $transitionDuration;
    // background-color: #f4f5f7; // var(--surface-overlay);
    background-color: white; // var(--surface-overlay);
    // border-radius: $borderRadius;
    // padding: 1.5rem 1.5rem;
    -webkit-box-shadow: 7px 0px 11px -4px rgba(169,169,169,1);
    -moz-box-shadow: 7px 0px 11px -4px rgba(169,169,169,1);
    box-shadow: 5px 0px 6px -4px rgb(169, 169, 169);
}
// .layout-sidebar {
//     width: 250px; // Default width
//     transition: width 0.3s ease; // Smooth transition for width change
 
//     &.collapsed {
//       width: 80px; // Width when sidebar is collapsed
//     }
   
//   }
 
.layout-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    user-select: none;
 
    .layout-root-menuitem {
        >.layout-menuitem-root-text {
            font-size: .857rem;
            text-transform: uppercase;
            font-weight: 700;
            color: var(--surface-900);
            margin: .75rem 0;
        }
 
        >a {
            display: none;
        }
    }
 
    li.active-menuitem {
        >a {
            .layout-submenu-toggler {
                transform: rotate(-180deg);
            }
        }
 
        >ul {
            max-height: auto;
        }
    }
 
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
 
        a {
            display: flex;
            align-items: center;
            position: relative;
            outline: 0 none;
            color: var(--text-color-menu);
            cursor: pointer;
            padding: .75rem 1rem;
            border-radius: $borderRadius;
            transition: background-color $transitionDuration, box-shadow $transitionDuration;
 
            .layout-menuitem-icon {
                margin-right: .5rem;
            }
 
            .layout-submenu-toggler {
                font-size: 75%;
                margin-left: auto;
                transition: transform $transitionDuration;
            }
 
            &.rotated-icon {
                .layout-menuitem-icon {
                    transform: rotate(90deg);
                }
            }
 
            &.active-route {
                font-weight: 700;
                color: var(--primary-color);
            }
 
            &:hover {
                background-color: rgba(255,255,255,0.12);
                // background-color: var(--surface-hover);
            }
 
            &:focus {
                @include focused-inset();
            }
        }
 
        ul {
            overflow: hidden;
            max-height: 0;
            border-radius: $borderRadius;
 
            li {
                a {
                    margin-left: 1rem;
                }
 
                li {
                    a {
                        margin-left: 2rem;
                    }
 
                    li {
                        a {
                            margin-left: 2.5rem;
                        }
 
                        li {
                            a {
                                margin-left: 3rem;
                            }
 
                            li {
                                a {
                                    margin-left: 3.5rem;
                                }
 
                                li {
                                    a {
                                        margin-left: 4rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
 
.layout-submenu-enter-active {
    max-height: 1000px !important;
    transition: max-height 1s ease-in-out;
}
 
.layout-submenu-enter-done {
    max-height: 1000px !important;
}
 
.layout-submenu-exit {
    max-height: 1000px !important;
}
 
.layout-submenu-exit-active {
    overflow: hidden;
    max-height: 0 !important;
    transition: max-height 0.45s cubic-bezier(0, 1, 0, 1);
}