/* General */
$borderRadius:4px;             /* border radius of layout element e.g. card, sidebar */
$transitionDuration:.2s;        /* transition duration of layout elements e.g. sidebar, overlay menus */
 
 
:root{
  --bg-menu: #e31635;
  --text-color-menu: #ffffff;
  --menu-surface-hover: #324268;
  --color-primary: #5aa445;
  --color-black:#000
}